.clock{
    height: 98vh;
    overflow: hidden;
    text-align: center;
}

.clock h1{
    border: 2px solid rgba(0, 238, 255, 0.568);
    width: 250px;
    margin: 40vh auto 0px auto;
    border-radius: 15px;
    padding: 10px 0;
    background-color: rgba(14, 50, 255, 0.575);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(0, 238, 255, 0.568);
}